<body>
    <h1><center>Detalhe Sell Out vs Target</center></h1>
        
        <table align="center" border='1'> 
    
        <tr>
            <th>DATA </th>
            <th>CLIENTE</th>
            <th>MODELO</th>
            <th>PROJEÇÃO MO</th>
            <th>REAL</th>
            <th>ESTOQUE</th>
        </tr>
        <tr>
            <td>{{dados.data}}</td>
            <td>{{dados.cliente}}</td>
            <td>{{dados.modelo}}</td>
            <td>{{dados.projecao_m0}}</td>
            <td>{{dados.real}}</td>
            <td>{{dados.estoque}}</td>
        </tr>

        </table>
</body>